/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour&display=swap');

body {   
    
    font-family: "Fira Sans Extra Condensed", sans-serif; 
}

/* brand logo sizing */
.brand-logo {
    width: 10rem;
    height: auto;
}

/* flexbox alignment for icons from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* text styling for logos */
.logo-font {
    text-transform: uppercase;
}

/* Main logo link styling */
.main-logo-link {
    width: fit-content;
}

/********************************************* button styling **************************/
.shop-now-button {
    background: #1D597D;
    color: white;
    min-width: 260px;
}

.btn-blue {
    background: #1D597D;
    color: white;
}

.btn-outline-blue{
    border: 1px solid #83b6b9;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus,
.btt-button:hover {
    background: #83B6B9;
    color: white;
}

/********************************************* text styling **************************/
.text-blue {
    color: #1D597D !important;
}

.text-white {
    color: white;
}

.text-black{
    color: black;
}

.text-turquoise {
    color: #83B6B9;
}

/* Delivery banner styling */
.delivery-banner {
    background-color: #83B6B9;
}

/* Border color utility */
.border-blue {
    border: 1px solid #83B6B9 !important;
}

/* Back to top button styling */
.btt-button {
    height: 45px;
    width: 45px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    
}

/* Cursor styles for links */
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Placeholder text styling */
input[name='q']::placeholder {
    color: #aab7c4;
}

/* Message container for notifications */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

/********************************************************** Custom toast message styling */
.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/********************************************************** Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* Bag notification wrapper styling */
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/****************************************************************** Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #1D597D;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #83B6B9;
    border-color: #83B6B9;
}

.allauth-form-inner-content a {
	color: #1D597D; /* text-info */
}

/* Product Form styling */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Custom checkbox styling */
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Footer styling */
footer{
    background-color:#83b6b9;
    color:black;
    
}
