<div class="row">
    <div class="col d-flex justify-content-lg-center">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#categories-nav" aria-controls="categories-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa-solid fa-bars rotate"></i></span>
            </button>

            <div class="collapse navbar-collapse" id="categories-nav">
              <ul class="navbar-nav w-auto mx-auto">
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link mr-5 text-blue"  id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      All Products
                  </a>
                  <div class="dropdown-menu border-1" aria-labelledby="all-products-link">
                      <a href="" class="dropdown-item">By Price</a>
                      <a href="" class="dropdown-item">By Rating</a>
                      <a href="" class="dropdown-item">By Category</a>
                      <a href="" class="dropdown-item">All Products</a>
                  </div>
              </li>
                  <li class="nav-item">
                    <a href="" class="nav-link mr-5 text-blue" id="home-link">TV & Audio</a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link mr-5 text-blue" id="home-link">Computing</a>
                  </li>              
                  <li class="nav-item">
                    <a href="" class="nav-link mr-5 text-blue" id="home-link">Gaming</a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link mr-5 text-blue" id="home-link">Phones</a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link mr-5 text-blue" id="home-link">Smart Tech</a>
                  </li>
                  <li class="nav-item">
                    <a href="" class="nav-link mr-5 text-blue" id="home-link">Deals</a>
                 </li>
              </ul>
            </div>
        </nav>
        </div>
    </div>