{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
<div class="row mt-5 d-flex justify-content-center text-center">
    <div class="col-10 mb-3">
    <h1 class="text-blue text-center">403 Error</h1>  
    <p class="text-turquoise text-blue text-center">Access Denied</p>    
</div>
</div>

<div class="row mt-3 mb-3 d-flex justify-content-center ">
    <h4>
        <a href="{% url 'home' %}" class="shop-now-button btn btn-lg rounded-4 text-uppercase py-3">Home</a>
    </h4>     
</div>
</div>



{% endblock %}
