{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="The Tech Spot Website" />
    <meta
      name="keywords"
      content="TV, Audio, Computing, Laptops, Phones, Mobile Phones, Deals, Gaming"
    />
    <meta name="author" content="TheTechSpot" />
    {% endblock %} 
    {% block extra_meta %} 
    {% endblock %} 
    {% block corecss %}
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'favicon/the-tech-spot-favicon-black.png' %}"
    />
    {% endblock %} 
    {% block extra_css %} 
    {% endblock %} 
    {% block corejs %}
    <script
      src="https://kit.fontawesome.com/68aa8a6d33.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %} 
    {% block extra_js %} 
    {% endblock %}

    <title>The Tech Stop {% block extra_title %}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="container-fluid">
      <div class="row d-flex justify-content-center align-items-center mt-3">
        <a href="{% url 'home' %}"
          ><img
            class="brand-logo"
            src="{{ MEDIA_URL }}the-tech-spot-logo-no-background.png"
            alt="The Tech Spot Logo"
        /></a>
      </div>
      {% include 'includes/main_nav.html' %} 
      {% include 'includes/categories_nav.html' %}
      <div class="row text-center delivery-banner">
        <div class="col">
          <h4 class="my-3 text-blue">
            <i class="fa-solid fa-truck-fast"></i> Free Delivery on orders over
            £{{ free_delivery_threshold }}
          </h4>
        </div>
      </div>
    </header>

    {% if messages %}
    <div class="message-container">
      {% for message in messages %} 
      {% with message.level as level %} 
      {% if level == 40 %} {% include 'includes/toasts/toast_error.html' %} 
      {% elif level == 30 %} {% include 'includes/toasts/toast_warning.html' %} 
      {% elif level == 25 %} {% include 'includes/toasts/toast_success.html' %} 
      {% else%} 
      {% include 'includes/toasts/toast_info.html' %} 
      {% endif %} 
      {% endwith %} 
      {% endfor %}
    </div>
    {% endif %} 
    {% block page_header %} 
    {% endblock %} 
    {% block content %} 
    {% endblock %}

    <footer class="mt-auto">
      <div class="container-fluid">
        <div class="row text-center d-flex justify-content-around">
          <!-- Contact Section -->
          <div class="col-sm-3">
            <h4 class="pt-3 pb-3">Contact</h4>
            <a href="{% url 'contact' %}" class="text-black"
              >Contact The Tech Spot</a
            >
            <p>Tel: 01234 123456</p>
            <a
              href="https://www.facebook.com/"
              class="text-black"
              target="_blank"
            >
              <i class="fa-brands fa-square-facebook fa-2x"></i>
              <span class="fa-sr-only"
                >Link to Facebook. Opens in a new tab</span
              >
            </a>
            <a
              href="https://www.instagram.com/"
              class="text-black"
              target="_blank"
            >
              <i class="fa-brands fa-instagram fa-2x"></i>
              <span class="fa-sr-only"
                >Link to Instagram. Opens in a new tab</span
              >
            </a>
            <a
              href="https://www.youtube.com/"
              class="text-black"
              target="_blank"
            >
              <i class="fa-brands fa-youtube fa-2x"></i>
              <span class="fa-sr-only"
                >Link to Youtube. Opens in a new tab</span
              >
            </a>
            <a
              href="https://www.pinterest.co.uk/"
              class="text-black"
              target="_blank"
            >
              <i class="fa-brands fa-square-pinterest fa-2x"></i>
              <span class="fa-sr-only"
                >Link to Facebook. Opens in a new tab</span
              >
            </a>
          </div>

          <!-- Payment Section -->
          <div class="col-sm-3 pt-3 pb-3">
            <h4 class="pb-3">Payments</h4>
            <p>
              Payments supported by <br /><i class="fa-brands fa-stripe fa-3x"
                ><span class="fa-sr-only"
                  >Stripe - a Payment Processing Platform for the Internet</span
                ></i
              >
            </p>
            <p>Cards Accepted:</p>
            <i class="fa-brands fa-cc-visa fa-2x"
              ><span class="fa-sr-only">Visa</span></i
            >
            <i class="fa-brands fa-cc-mastercard fa-2x"
              ><span class="fa-sr-only">Mastercard</span></i
            >
            <i class="fa-brands fa-cc-amex fa-2x"
              ><span class="fa-sr-only">Amex</span></i
            >
          </div>
        </div>
      </div>
    </footer>

    {% block postloadjs %}
    <script>
      $(".toast").toast("show");
    </script>
    {% endblock %}
  </body>
</html>
