{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Product section to show the details of the individual product-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: {{ product.sku }}</div>
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <div><h2>£{{ product.price }}</h2></div>
                <div class="mb-2">
                    {% if product.rating %}
                        <small class="text-muted mr-2"><i class="fas fa-star mr-1"></i>{{ product.rating }}</small>
                    {% else %}
                        <small class="text-muted mr-2">No Rating</small>
                    {% endif %}   
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                        {% endif %}            
                    
                </div>
                <p class="lead">{{ product.description }}</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3 mr-4" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}